@import '../../styles/colors.less';

.button {
    background-color: @btn-primarily;
    border-radius: 5rem;
    border: none;
    padding: 0.25rem 1.8125rem;
    width: fit-content;
    cursor: pointer;

    span {
        white-space: nowrap;
    }

    &:hover {
        background-color: @btn-hover;
    }
}

.disabled {
    background-color: @btn-disabled;
    span {
        color: @white;
    }
}