@import '../../../styles/colors.less';
@import '../../../styles/variables.less';
@import '../../../styles/mixins.less';

.input {
    border: @border;
    border-radius: 0.25rem;
    width: -webkit-fill-available;
    padding: 0.875rem 0 0.875rem 1rem;
    transition: border-color 0.2s;

    &__helper-text {
        color: @placeholder-color;
        .mx-helper-text();
}

    &__error {
        border: 0.125rem solid @error-color;
    }
}

::-webkit-file-upload-button {
   display: none;
}
