@import '../../styles/resolutions.less';
@form-width: 23.75rem;

.form {
    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 3.125rem;
    }

    &__select-title {
        padding: 1.5625rem 0 0.6875rem;
    }

    &__radio-buttons {
        display: flex;
        flex-direction: column;
        gap: 0.4375rem;
    }

    &__action {
        padding-top: 3.125rem;
        margin: 0 auto;
        width: fit-content;
    }
}

@media @tablet {
    .form {
        width: @form-width;
        margin: 0 auto;
    }
}
