@import '../../styles/mixins.less';
@import '../../styles/resolutions.less';

.users {
    padding: 8.75rem 0;

    &__container {
        .mx-block-container();
        
        h1 {
            .mx-h1();
            padding-bottom: 3.125rem;
        }
    }

    &__cards {
        gap: 1.25rem;
        display: flex;
        flex-direction: column;
    }

    &__action {
        margin-top: 3.125rem;
        display: flex;
        justify-content: center;
    }
}

@media @tablet {
    .users__cards {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }
}